---
layout: default
title: Jerry Shen's Website
---
<div class='row'>
  <div class='span11'>
    {% for post in site.posts %}
      <div class='blogentry'>
        <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        {{ post.date | date_to_string }}
        <hr>
        <p>Rerum perspiciatis eligendi id labore quis accusamus. Harum cumque velit enim architecto. Et ut in officia repellendus est. Animi nesciunt vel cum.</p>
        <div class='meta'>
          Posted in&nbsp;
          {% for category in post.categories %}
          <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag" class="btn small">{{ category }}</a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>