---
layout: default
title: Jerry Shen's Website
---
{% for post in paginator.posts %}
<div class="box">
  <div class='blogentry'>
    <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    <hr>
    {{ post.content }}
    <div class='meta'>
      <ul class="pills">
      {% for category in post.categories %}
      <li>
        <a href="/categories/{{ category }}" title="{{ category }}" rel="category tag">{{ category }}</a>
      </li>
      {% endfor %}
      </ul>
      <p class="date">Posted at {{ post.date | date_to_string }}</p>
      <p class="comments-link">
        <a href='{{post.url}}#disqus_thread'>Comments</a>
      </p>
    </div>
  </div>
</div>
{% endfor %}

<div class="pagination">
  <ul>
      {% if paginator.previous_page %}
        <li class="prev disabled">
          {% if paginator.previous_page == 1 %}
          <a href="/blog.html" title="Previous Page">&laquo; Previous</a>
          {% else %}
          <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
          {% endif %}
        </li>
      {% endif %}
      {% if paginator.next_page %}
        <li class="next">
          <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
        <li>
      {% endif %}
  </ul>
</div>